html{
    font-size:20px;
    font-family: 'Times New Roman', Times, serif';

    
}
.colspan-1{

    width:calc(50% - 0.625rem);
    margin-left:0.625rem;
    margin-bottom:0.625rem;
    flex:0 0 auto
}
@media screen and (min-width: 54.6875rem)
{
    .colspan-1{width:calc(25% - 0.25rem);
        margin-left:0.25rem;
        margin-bottom:1.5rem
    }
    }
    html.edit .edit .colspan-1{width:100%}
    .colspan-2{
        width:calc(50% - 0.625rem);
        margin-left:0.625rem;
        margin-bottom:0.625rem;
        flex:0 0 auto
    }
    @media screen and (min-width: 54.6875rem){
        .colspan-2{
            width:calc(50% - 0.25rem);
            margin-left:0.25rem;
            margin-bottom:1.
        }
    }
    html.edit .edit .colspan-2{
        width:100%}.colspan-3{width:calc(100% - 0.625rem);
            margin-left:0.625rem;
            margin-bottom:0.625rem;
            flex:0 0 auto
        }
        @media screen and (min-width: 54.6875rem){
            .colspan-3{width:calc(75% - 0.25rem);
                margin-left:0.25rem;
                margin-bottom:1.5rem
            }
        }
        html.edit .edit .colspan-3{
            width:100%
        }
        .colspan-4
        {
            width:calc(100% - 0.625rem);
            margin-left:0.625rem;
            margin-bottom:0.625rem;
            flex:0 0 auto
        }
        @media screen and (min-width: 54.6875rem)
        {
            .colspan-4{width:calc(100% - 0.25rem);
                margin-left:0.25rem;
                margin-bottom:1.5rem
            }
        }
        html.edit .edit .colspan-4{
            width:100%
        }
        .editor-details
        {
            position:relative;
            cursor:pointer;
            color:#000;
            font-size:0.6875rem;
            line-height:1.2727;
            ;text-align:right;
            font-family: 'Times New Roman', Times, serif;
        }
        @media screen and (min-width: 54.6875rem)
        {
            .editor-details
            {
                font-size:0.6875rem;line-height:1.2727
            }
        }
        .editor-details--offset-inside-margin{
            right:-0.625rem;
            bottom:-0.625rem
        }
        .editor-details__thumbnail,
        .editor-details__content
        {
            display:inline-block;
            padding:1em 1em;
            background:#ffffff;
            text-align:left
        }
        .editor-details__thumbnail
        {
            position:relative;
            z-index:1
        }
        .editor-details__thumbnail::-webkit-details-marker
        {
            display:none
        }
        
        .editor-details__thumbnail:focus
        {
            background:#000;
            color:#ffffff
        }
        .editor-details__content
        {
            position:absolute;
            bottom:0;
            right:0;
            opacity:0;
            transform:scale(0);
            z-index:3;
            transform-origin:bottom right;
            transition:opacity linear 125ms,
            transform cubic-bezier(0, 0.75, 0.58, 1) 300ms
        }
        .animations-paused .editor-details__content
        {
            transition:none
        }
        .editor-details details[open] .editor-details__content
        {
            opacity:1;
            transform:scale(1)
        }
        .editor-details__content p
        {
            margin-bottom:0
        }
        .magic-module img
        {
            max-width:100%
        }
        .pauseable-image .pauseable-image__source--static
        {
            display:none
        }
        .pauseable-image .pauseable-image__source--animated
        {
            display:block
        }
        .animations-paused .pauseable-image .pauseable-image__source--static
        {
            display:block
        
    }
    .animations-paused .pauseable-image .pauseable-image__source--animated
    {
        display:none
    }
    .visually-hidden
    {
        pointer-events:none;
        clip:rect(1px, 1px, 1px, 1px);
        -webkit-clip-path:inset(50%);
        clip-path:inset(50%);
        height:1px;width:1px;
        margin:-1px;overflow:hidden;
        padding:0;
        position:absolute
    }
    a:focus img
    {
        border:5px solid white;
        background:white
    }
    a
    {
        color:inherit;
        text-decoration:none
    }
    a:hover,a:focus
    {
        color:#0900ee;
        text-decoration:underline
    }
    ul.list--blank{
        list-style:none;
        padding:0;
        margin-top:0
        ;margin-bottom:0;
        display: block;
    }
   /* li.list--blank
    {
        list-style:none
    }*/
    .page-title--prominence-1
    {
        overflow-wrap:break-word;
        word-wrap:break-word;
        -webkit-hyphens:auto;
        -ms-hyphens:auto;
        hyphens:auto;
        font-size:3.125rem;
        line-height:1
    }
@media screen and (min-width: 54.6875rem)
    {
        .page-title--prominence-1
        {
            font-size:4.8125;
            line-height:1
        }
    }
    .page-title--prominence-2
    {
        font-size:2.1875rem;
        line-height:1.1
    }
    
@media screen and (min-width: 54.6875rem)
{
    .page-title--prominence-2
    {
        font-size:2.5rem;
        line-height:1.1
    }
}
.page-title--prominence-3
{
    font-size:1.3125rem;
    line-height:1.1905
}

@media screen and (min-width: 54.6875rem)
{
    .page-title--prominence-3
    {
        font-size:1.3125rem;
        line-height:1.1905
    }
}
.page-title--prominence-4
{
    font-size:0.8125rem;
    line-height:1.3846;
    font-weight:bold
}
@media screen and (min-width: 54.6875rem)
{
    .page-title--prominence-4
    {
        font-size:0.8125rem;
        line-height:1.3846
    }
}
.page-title--prominence-4
{
    font-size:0.8125rem;
    line-height:1.3846;
    font-weight:bold
}
@media screen and (min-width: 54.6875rem){
    .page-title--prominence-4
    {
        font-size:0.8125rem;
        line-height:1.3846
    }
}
.heading--h1
{
    font-size:2.6rem
}
.heading--h2
{
    font-size:1.95rem
}
.heading--h3
{
    font-size:1.52rem
}
    
.heading--h4
{
    font-size:1.3re
}
.collapsible-menu
{
    width:100vw;
    position:fixed;
    top:0;left:0;
    transform:translateY(-100%);
    background:#ffffff;
    padding:0.625rem;
    z-index:2;
    font-size:0.8125rem;
    line-height:1.3846
}
@media screen and (min-width: 54.6875rem)
    {
        .collapsible-menu
        {
            font-size:0.8125rem;
            line-height:1.3846
        }
    }
@media screen and (min-width: 54.6875rem)
{
    .collapsible-menu{display:none
    }
}
.collapsible-menu__inner{
    padding:0 0.625rem;
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    justify-content:flex-start;
    align-items:center
}
@media screen and (max-width: 54.625rem){
    html.main-nav-is-expanded .collapsible-menu{
        transform:translateY(0)
    }
    .collapsible-menu,#outer-container{
        transition:transform cubic-bezier(0, 0.75, 0.58, 1) 300ms
    }
    .animations-paused .collapsible-menu,.animations-paused #outer-container{
        transition:none
    }
}
.collapsible-menu__hamburger-icon{
    position:absolute;bottom:-0.625rem;
    right:0.625rem;background:#ffffff;
    padding:0;
    border:0;
    transform:translateY(100%)
    ;cursor:pointer
}
@media screen and (min-width: 54.6875rem){
    .collapsible-menu__hamburger-icon{display:none
    }
}
.collapsible-menu__hamburger-icon-inner{
    width:100%;
    height:100%;
    display:flex;
    justify-content:center;
    align-items:center;
    color:red;
    font-size:6rem
}
.collapsible-menu__hamburger-icon svg{
    display:block
}
.collapsible-menu__hamburger-icon .hamburger-bars{
    fill:#000
}
.collapsible-menu .main-nav{
    padding:0
}
.collapsible-menu__closer{
    margin-top:1em;
    margin-bottom:0;
    border:0;
    padding:0;
    background:transparent;
    flex:0 0 50%;
    font-size:inherit;
    line-height:inherit;
    text-align:left;
    font-weight:bold;
    color:#ff4812;
    text-transform:uppercase
}
#outer-container{
    width:100%;
    max-width:54.6875rem;
    padding-top:3.125rem;
    position:relative
}
@media screen and (min-width: 54.6875rem)
{
    #outer-container
    {
        padding-top:0
    }
}
.sidebar-content-container
{
    display:flex;
    flex-wrap:nowrap
}
.economy-footer
{
    background:bisque;
    color:yellow;
    
    margin-top:0;
    position:relative;
    z-index:2
}
@media screen and (min-width: 54.6875rem)
{
    .economy-footer{
        margin-top:0.9375rem
    }
}
.economy-footer__inner
{
    width:100%;
    max-width:54.6875rem;
    margin-left:0;
    margin-right:auto;
    padding:0.625rem;
    display:flex;
    flex-direction:row;
    flex-wrap:nowrap
}

@media screen and (min-width: 54.6875rem)
{
    .economy-footer__inner
    {
        display:block
    }
}
.economy-footer__economy-links,.economy-footer__metadata
{
    flex:1 1 50%
}
.economy-footer__button-container
{
    margin:0.3125rem 0
}
.economy-footer__button-container:first-of-type
{
    margin-top:0
}
.economy-footer__button
{
    display:inline-block;
    background:#fff003;
    color:red;
    padding:0.5em 1em;
    font-size:0.8125rem;
    line-height:1.3846
}
@media screen and (min-width: 54.6875rem){
    .economy-footer__button
    {
        font-size:0.8125rem;
        line-height:1.3846
    }
}
.economy-footer__metadata p
{
    margin-top:1em;margin-bottom:1em
}
.economy-footer__button-container a:focus .economy-footer__button{
    background-color:pink;color:red
}

.page-header{
    position:relative
    ;padding:0 0.625rem;
    width:100%;
    max-width:54.6875rem
    ;margin-top:0.75rem;
    margin-right:0;
    margin-bottom:2.25rem;
    margin-left:auto;
    display:flex;
    flex-direction:row;
    justify-content:flex-end;
    font-family: 'Times New Roman', Times, serif    ;
    font-size:0.8125rem;
    line-height:1.3846;
    color:bisque;
}
@media screen and (min-width: 54.6875rem){.page-header{font-size:0.8125rem;line-height:1.3846}}
@media screen and (min-width: 54.6875rem){.page-header{justify-content:flex-start;padding-left:calc(40% - 0.25rem);padding-right:0.6875rem;z-index:10}}
.page-header span{-webkit-box-decoration-break:clone;box-decoration-break:clone;background-image:linear-gradient(to bottom, transparent calc(100% - 1em), #000 calc(100% - 1em), #000 calc(100% - (100% - 1em)), transparent calc(100% - (100% - 1em)));color:#ffffff}
.page-header a,.page-header a:link,.page-header a:visited{color:inherit}#magic_modules{width:100%;display:flex;flex-direction:row;flex-wrap:wrap;align-items:flex-start;align-content:flex-start;padding:0 0;padding-right:0.625rem;z-index:4;position:relative}
@media screen and (min-width: 54.6875rem){
    #magic_modules{
        padding-right:0.25rem;
        flex:0 1 calc(100% - 10.9375rem);
        max-width:calc(100% - 10.9375rem)
        ;margin-left:-0.25rem;z-index:12
    }
}
.main-nav{
    padding:0.625rem
}
@media screen and (min-width: 54.6875rem){.main-nav{background:#ffffff}}@media screen and (max-width: 54.625rem){.main-nav ul{-moz-column-count:2;column-count:2}}.collapsible-menu .main-nav{flex:0 0 100%}a.sidebar_link_main,a.sidebar_link_main:visited{color:#000;text-decoration:none}
a.sidebar_link_secondary,a.sidebar_link_secondary:visited{color:#666666;text-decoration:none}a.sidebar_link_done_editing,a.sidebar_link_done_editing:visited{color:#003300;text-decoration:underline}
a.sidebar_link_main:hover,a.sidebar_link_main:focus,a.sidebar_link_secondary:hover,a.sidebar_link_secondary:focus,a.sidebar_link_done_editing:hover,a.sidebar_link_done_editing:focus{color:#0900ee;text-decoration:underline}
a.sidebar_link_main:active,a.sidebar_link_secondary:active,a.sidebar_link_done_editing:active{color:#ff0000;text-decoration:underline}
.main-nav__item{line-height:1.2}.main-nav__item+.main-nav__item{margin-top:0.3em}.main-nav__item--active{text-indent:-1em}@media screen and (min-width: 54.6875rem){.main-nav__item--active{text-indent:0}}
.main-nav__item--active a:before{content:"";display:inline-block;vertical-align:middle;width:0.5em;height:0.5em;margin-right:0.5em;margin-bottom:0.25em;background-color:#ff4812}
@media screen and (min-width: 54.6875rem){
    .mobile-footer
    {
        display:none
    }
}
.pause-animations{background:#ffffff;border:1px solid #b2b2b2;padding:0.3125rem 0.625rem;cursor:pointer;display:block;position:-webkit-sticky;position:sticky;top:calc( 100% - 1em - 2.5rem);left:100%;z-index:100;margin-top:calc( -1 * (1em - 1.875rem));margin-right:0.625rem;font-size:inherit;line-height:inherit;text-align:inherit;white-space:nowrap}
.pause-animations:focus{background:#fff003}@media screen and (min-width: 54.6875rem){.pause-animations{width:100%;padding:0.625rem;border:0;position:static;top:auto;left:auto;margin-top:0.9375rem;margin-right:0}#mobile-pause-sticky-wrapper>.pause-animations{display:none}}
.pause-animations a,.pause-animations a:link,.pause-animations a:visited,.pause-animations a:hover{color:inherit;text-decoration:inherit}
.pause-animations__label--for-when-playing{display:block}
.animations-paused .pause-animations__label--for-when-playing{display:none}
.pause-animations__label--for-when-paused{display:none}
.animations-paused .pause-animations__label--for-when-paused{display:block}
.pause-animations svg{width:1em;vertical-align:middle}
.pause-animations svg [fill]{fill:#ff6e01}
.pause-animations__label--for-when-playing svg{margin-left:0.0625rem}
.pause-animations__label--for-when-paused svg{margin-left:0.125rem}
.collapsible-menu .pause-animations{flex:0 0 auto;border:1px solid #b2b2b2;margin-left:0.3125rem;padding:0.1875rem 0.375rem;margin-top:0.875rem;font-size:0.8125rem;line-height:1.3846}
@media screen and (min-width: 54.6875rem){
    .collapsible-menu .pause-animations{
        font-size:0.8125rem;line-height:1.3846}
}
.sidebar{display:none}@media screen and (min-width: 54.6875rem){
.sidebar{display:block;flex:0 0 10.9375rem;max-width:10.9375rem;
    padding-left:0.9375rem;padding-right:0.9375rem;
    position:relative;z-index:10}}
.wiki-disclaimer{background:#ff6e01;color:#000;margin-top:2.25rem;position:relative;z-index:2}
@media screen and (min-width: 54.6875rem){.wiki-disclaimer{margin-top:0.9375rem}}
.wiki-disclaimer__inner{width:100%;max-width:54.6875rem;margin-left:0;margin-right:auto;padding:0.625rem;font-size:0.8125rem;line-height:1.3846}
@media screen and (min-width: 54.6875rem){
    .wiki-disclaimer__inner{
        font-size:0.6875rem;
        line-height:1.2727
    }
}
/*contact, youtuble, insta */
.yale-footer
{
    width:100%;
    max-width:54.6875rem;
    padding:6.75rem 0.625rem 0;
    display:flex;
    justify-content:flex-start;
    align-items:center;font-size:0.8125rem;
    line-height:1.3846;
    color:blank;
    word-spacing:""
}
/*
@media screen and (min-width: 54.6875rem){
    .yale-footer
    {
        font-size:0.8125rem;
        line-height:1.3846
    }
}
@media screen and (min-width: 54.6875rem){
    .yale-footer{
        padding-bottom:6.75rem;
        justify-content:center
    }
}
.yale-footer p
{
    margin-bottom:0
}
.yale-footer ul{
    list-style:none;
    padding:0;
    margin-top:0;
    margin-bottom:0
}
.yale-footer a,.yale-footer span{
    -webkit-box-decoration-break:clone;
    box-decoration-break:clone;
    background-image:linear-gradient(to bottom, transparent calc(100% - 1em), #000 calc(100% - 1em), #000 calc(100% - (100% - 1em)), transparent calc(100% - (100% - 1em)))
}
.yale-footer a,.yale-footer a:link,.yale-footer a:visited
{
    color:inherit
}
.yale-footer a:hover,.yale-footer a:focus{
    -webkit-box-decoration-break:clone;
    box-decoration-break:clone;
    background-image:linear-gradient(to bottom, transparent calc(100% - 1em), #fff calc(100% - 1em), #fff calc(100% - (100% - 1em)), transparent calc(100% - (100% - 1em)));
    color:#000}
*/
.page-path--sitemap .scrolling-text-module,.page-path--site-map .scrolling-text-module{position:relative;font-size:0.8125rem;line-height:1.3846;margin-top:2.0625rem}@media screen and (min-width: 54.6875rem){.page-path--sitemap .scrolling-text-module,.page-path--site-map .scrolling-text-module{font-size:0.8125rem;line-height:1.3846}}
.page-path--sitemap .scrolling-text-module .scrolling-text-module__title,.page-path--site-map .scrolling-text-module .scrolling-text-module__title{
    position:absolute;
    left:0.25em;
    top:-0.75rem;
    transform:translateY(-100%);
    font-size:0.8125rem;
    line-height:1.3846;
    /* text-decoration:underline; */
    text-transform:uppercase;
    /* box-shadow:0px -0.25em 0px #ffffff, 0.25em -0.25em 0px #ffffff,0.25em 0px 0px #ffffff, 0.25em 0.25em 0px #ffffff, 0px 0.25em 0px #ffffff, -0.25em 0.25em 0px #ffffff, -0.25em 0px 0px #ffffff, -0.25em -0.25em 0px #ffffff; */
    -webkit-box-decoration-break:clone;
    box-decoration-break:clone;
   /* background-color:#ffffff;*/
}
@media screen and (min-width: 54.6875rem){.page-path--sitemap .scrolling-text-module .scrolling-text-module__title,.page-path--site-map .scrolling-text-module .scrolling-text-module__title{font-size:0.8125rem;line-height:1.3846}}
.accordion-module{background:#e3ffff;border:2px solid #000;font-size:0.8125rem;line-height:1.3846}
@media screen and (min-width: 54.6875rem){.accordion-module{font-size:0.8125rem;line-height:1.3846}}.accordion-module.colspan-1,.accordion-module.colspan-2{background-image:linear-gradient(to right, white, #e8d931);background-size:100% 100%}.accordion-module__summary{padding:1.5em 2.5rem 1.5em 0.625rem;position:relative;list-style:none}.accordion-module__summary::-webkit-details-marker{display:none}.accordion-module__summary:focus{outline:0.1875rem solid #fff003}.accordion-module__summary:after{content:"+";position:absolute;top:0;right:0.625rem;height:100%;display:flex;justify-content:center;align-items:center;font-size:3em;font-weight:bold;
    font-family:'Times New Roman', Times, serif}.accordion-module details[open] .accordion-module__summary:after{content:"-";top:-0.1em;right:calc(0.625rem + 0.15em)}.accordion-module__title{margin:0 0;text-transform:uppercase}
/* #mmi-26781 {
    width: 500px; 
    height: 90px; 
  
} */


    .accordion-module__content{
    padding:0 0.625rem 0.625rem
}.accordion-module h1,.accordion-module h2,.accordion-module h3,.accordion-module h4,.accordion-module h5,.accordion-module h6{line-height:1.1}.announcement-module{background-image:linear-gradient(to right, white, #09ff09);background-size:100% 100%;padding:0.625rem;font-size:1.3125rem;line-height:1.1905}@media screen and (min-width: 54.6875rem){.announcement-module{font-size:1.3125rem;line-height:1.1905}}.announcement-module--expired{background-image:none;background-color:#ff0000;color:#ffffff}.background-module{margin:0 0 0 0}.backgrounds{position:fixed;width:100%;height:100%;top:0;left:0}.backgrounds__pattern,.backgrounds__photo,.backgrounds__stripe-container{position:absolute;top:0;left:0;width:100%;height:100%}.backgrounds__stripe-container{display:flex;justify-content:center;align-items:center;max-width:54.6875rem}@media screen and (min-width: 54.6875rem){.backgrounds__stripe-container{padding-left:10.9375rem}}.backgrounds__stripe{width:50%;height:100%}.backgrounds__photo{background-repeat:no-repeat;background-position:top left}.edit .background-module.static-magic-module{position:absolute;top:0;left:0}.edit .background-module.static-magic-module .background_module_stripe{top:-24px}.bio-module{background-image:linear-gradient(to right, white, #ff9e00);background-size:100% 100%;
        padding:0.625rem;
        font-family:'Times New Roman', Times, serif;
        font-size:0.8125rem;line-height:1.3846}@media screen and (min-width: 54.6875rem){.bio-module{font-size:0.8125rem;line-height:1.3846}}.bio-module__inner{width:100%;height:100%;max-height:15.25rem;overflow:auto;-webkit-overflow-scrolling:touch}.bio-module__title{margin-top:0;margin-bottom:1em}.course-description-module{background-image:linear-gradient(to right, white, #c1f41e);background-size:100% 100%;
    padding:0.625rem;
    font-family: 'Times New Roman', Times, serif;
    font-size:0.8125rem;line-height:1.3846}@media screen and (min-width: 54.6875rem){.course-description-module{font-size:0.8125rem;line-height:1.3846}}.course-description-module__inner{width:100%;height:100%;max-height:15.25rem;overflow:auto;-webkit-overflow-scrolling:touch}.course-description-module__title{margin-top:0;margin-bottom:1em}
.divider-module{
    margin-top:0.75rem;
    margin-bottom:0.75rem
}
@media screen and (min-width: 54.6875rem){
    .divider-module
    {
        margin-top:2.25rem;
        margin-bottom:2.25rem
    }
}
.divider-module__horizontal-rule{
    width:60%;height:1.5rem;
    margin:0 auto;
    background:#000
}
.email-address-module__inner{
    display:inline-block;
    background-image:linear-gradient(to bottom, #000 0%, #000 calc(100% - 2em), transparent 100%);
    padding:0.625rem;
    padding-bottom:2em;
    font-family: 'Times New Roman', Times, serif;
    font-size:0.8125rem;line-height:1.3846;color:#ffffff}@media screen and (min-width: 54.6875rem){.email-address-module__inner{font-size:0.8125rem;line-height:1.3846}}.email-address-module__inner a,.email-address-module__inner a:visited{color:#ffffff;text-decoration:none}.email-address-module__inner a:hover{color:#fff003;text-decoration:underline}.email-address-module__inner a:active{color:#ccccff;text-decoration:underline}.file-module img{display:block}.file-module__title{display:inline-block;background:#ffffff;padding:0.625rem;margin-top:1em;font-size:0.6875rem;line-height:1.2727;color:#000;
        font-family:'Times New Roman', Times, serif}@media screen and (min-width: 54.6875rem){.file-module__title{font-size:0.6875rem;line-height:1.2727}}.image-grid-module__pagination{display:flex;flex-direction:row;justify-content:flex-end;font-size:0.8125rem;line-height:1.3846;color:#000}@media screen and (min-width: 54.6875rem){.image-grid-module__pagination{font-size:0.8125rem;line-height:1.3846}}.image-grid-module__pagination-item{display:inline-block;background:#fff003;padding:0 0.625rem;border:0;opacity:0.5}.image-grid-module__pagination-item--current-page{opacity:1}.image-grid-module__pagination-item:focus{outline:0}.image-grid-module__pagination-item-container:focus .image-grid-module__pagination-item{background:#000;color:#ffffff}.image-grid-module__pagination>*{flex:0 0 auto}.image-grid-module__pagination>*+*{margin-left:0.375rem}.image-grid-module__pagination-item-container .image-grid-module__pagination-item{opacity:1}.image-grid-module__pagination a,.image-grid-module__pagination a:visited,.image-grid-module__pagination a:hover{color:#000;text-decoration:none}.image-grid-module__pagination a:active{color:#ff0000}.image-grid-module--multiple-per-page .image-grid-module__collection{background-color:rgba(255,255,255,0.4)}.image-grid-module__collection-inner{display:flex;flex-direction:row;flex-wrap:wrap;margin:0 -0.1875rem}.image-grid-module__collection--1-col-imgs .image-grid-module__image{flex-basis:calc(25% - 0.375rem);margin:0 0.1875rem 0.375rem}.image-grid-module__collection--2-col-imgs .image-grid-module__image{flex-basis:calc(50% - 0.375rem);margin:0 0.1875rem 0.375rem}.image-grid-module__collection--3-col-imgs .image-grid-module__image{flex-basis:calc(75% - 0.375rem);margin:0 0.1875rem 0.375rem}.image-grid-module__collection--4-col-imgs .image-grid-module__image{flex-basis:calc(100% - 0.375rem);margin:0 0.1875rem 0.375rem}.image-grid-module__image img{width:100%}.image-grid-module__caption{max-width:100%;display:inline-block;padding:0.625rem;background:#fff003;margin-top:-0.375rem;display:inline-block;
            font-family:'Times New Roman', Times, serif, sans-serif;font-size:0.8125rem;line-height:1.3846}@media screen and (min-width: 54.6875rem){.image-grid-module__caption{font-size:0.8125rem;line-height:1.3846}}.image-grid-module--multiple-per-page .image-grid-module__caption{margin-top:0.75rem}@media screen and (max-width: 27rem){.colspan-1 .image-grid-module__pagination,.colspan-2 .image-grid-module__pagination{padding-left:0}.colspan-1 .image-grid-module__pagination-item--current-page,.colspan-2 .image-grid-module__pagination-item--current-page{display:none}}.jump-links-module{
                font-family:'Times New Roman', Times, serif, sans-serif;color:#000;font-size:1.3125rem;line-height:1.1905}@media screen and (min-width: 54.6875rem){.jump-links-module{font-size:1.3125rem;line-height:1.1905}}.jump-links-module__title{margin:0 0 0.75rem 0.25em;text-transform:uppercase;font-size:0.8125rem;line-height:1.3846;font-weight:bold}@media screen and (min-width: 54.6875rem){.jump-links-module__title{font-size:0.8125rem;line-height:1.3846}}.jump-links-module__title span{box-shadow:0px -0.05em 0px #ffffff, 0.25em -0.05em 0px #ffffff, 0.25em 0px 0px #ffffff, 0.25em 0.05em 0px #ffffff, 0px 0.05em 0px #ffffff, -0.25em 0.05em 0px #ffffff, -0.25em 0px 0px #ffffff, -0.25em -0.05em 0px #ffffff;-webkit-box-decoration-break:clone;box-decoration-break:clone;background-color:#ffffff}
ul.list--blank.jump-links-module__links
{    
    padding-left:0.25em;
    margin-bottom:0.25em
}
.jump-links-module__links a{
    padding-bottom:0.25em;
    box-shadow:0px -0.05em 0px #ffffff, 0.25em -0.05em 0px #ffffff, 0.25em 0px 0px #ffffff, 0.25em 0.05em 0px #ffffff, 0px 0.05em 0px #ffffff, -0.25em 0.05em 0px #ffffff, -0.25em 0px 0px #ffffff, -0.25em -0.05em 0px #ffffff;-webkit-box-decoration-break:clone;box-decoration-break:clone;background-color:#ffffff;text-transform:uppercase;font-weight:bold}.jump-links-module__links a,.jump-links-module__links a:link,.jump-links-module__links a:visited{color:inherit;text-decoration:underline}.jump-links-module__links li+li{margin-top:0.5em}.php-highlighter-module__title-container{background:#000;padding:0.625rem;margin-bottom:0.46875rem;color:#b2b2b2}.php-highlighter-module__title{margin:0 0}.php-highlighter-module__source{background:#ffffcc;padding:0.625rem;max-height:41em;overflow:auto;font-size:0.8125rem;line-height:1.3846}@media screen and (min-width: 54.6875rem){.php-highlighter-module__source{font-size:0.8125rem;line-height:1.3846}}.scrolling-list-module{background:#beff81;padding:0.625rem;font-size:0.8125rem;line-height:1.3846}@media screen and (min-width: 54.6875rem){.scrolling-list-module{font-size:0.8125rem;line-height:1.3846}}.scrolling-list-module.colspan-1{background:#e3ffff}.scrolling-list-module__inner{width:100%;height:100%;overflow:auto;-webkit-overflow-scrolling:touch}.scrolling-list-module__title{margin-top:0;margin-bottom:0.5em;text-transform:uppercase}.scrolling-list-module__list{padding-left:1em}.scrolling-list-module__list-item{min-height:1.25em}.scrolling-text-module{padding:0.625rem;background:#e3ffff;font-size:0.8125rem;line-height:1.3846}@media screen and (min-width: 54.6875rem){.scrolling-text-module{font-size:0.8125rem;line-height:1.3846}}.scrolling-text-module.colspan-1{background:#d6d6d6}.scrolling-text-module.colspan-2{background-image:linear-gradient(to right, white, #fff003);background-size:100% 100%}.scrolling-text-module__inner{width:100%;height:100%;overflow:auto;-webkit-overflow-scrolling:touch}.scrolling-text-module__title{margin-top:0;margin-bottom:0.5em;text-transform:uppercase}.scrolling-text-module h1,.scrolling-text-module h2,.scrolling-text-module h3,.scrolling-text-module h4,.scrolling-text-module h5,.scrolling-text-module h6{line-height:1.1}.scrolling-text-module a{color:#0900ee;text-decoration:underline}.scrolling-text-module a:hover,.scrolling-text-module a:focus{color:#ff0000}.scrolling-text-module a:active{color:#ff6e01}.see-also-module__sizer{background:#ff4812;position:relative;display:inline-block}.see-also-module__inner{overflow:hidden;position:relative}.see-also-module.has-carousel .see-also-module__inner{padding:0 1.25rem}.see-also-module__list-opener{font-weight:normal}.see-also-module.has-carousel .see-also-module__carousel-arrow{display:block}.see-also-module__items{width:100%;max-width:100%;padding:0.625rem;font-size:0.8125rem;line-height:1.3846;text-transform:uppercase;color:#000}@media screen and (min-width: 54.6875rem){.see-also-module__items{font-size:0.8125rem;line-height:1.3846}}.see-also-module__items a,.see-also-module__items a:link,.see-also-module__items a:visited{color:#000;text-decoration:none;border-bottom:1px solid black;font-weight:bold}.see-also-module__items>span,.see-also-module__items>a,.see-also-module__items .flickity-slider>span,.see-also-module__items .flickity-slider>a{margin:0 0.3125rem;display:inline}.see-also-module__items>span.see-also-module__list-opener,.see-also-module__items .flickity-slider>span.see-also-module__list-opener{font-weight:bold;margin:0}.see-also-module.has-carousel .see-also-module__items>span,.see-also-module.has-carousel .see-also-module__items>a,.see-also-module.has-carousel .see-also-module__items .flickity-slider>span,.see-also-module.has-carousel .see-also-module__items .flickity-slider>a{white-space:nowrap}.see-also-module .flickity-viewport{position:relative;z-index:1}.see-also-module .flickity-button{position:absolute;width:1.25rem;height:100%;top:0;background-color:#ff4812;border:0;padding:0;z-index:2}.see-also-module .flickity-button.previous{left:0;padding-left:0.3125rem}.see-also-module .flickity-button.next{right:0;padding-right:0.3125rem}.see-also-module .flickity-button:focus{background-color:#fff003}.see-also-module .flickity-button:disabled svg .arrow{opacity:0.25}.see-also-module.has-carousel .see-also-module__items:before,.see-also-module.has-carousel .see-also-module__items:after{content:"";width:2.5rem;height:100%;position:absolute;top:0;z-index:2}.see-also-module.has-carousel .see-also-module__items:before{background-image:linear-gradient(to right, #ff4812, rgba(255,72,18,0));left:0}.see-also-module.has-carousel .see-also-module__items:after{background-image:linear-gradient(to right, rgba(255,72,18,0), #ff4812);right:1.25rem}.see-also-module.colspan-1{flex-basis:100%}.see-also-module.has-carousel.colspan-1{margin-left:0;margin-bottom:0}.see-also-module.colspan-1 .see-also-module__sizer{max-width:calc(50% - 0.625rem)}@media screen and (min-width: 54.6875rem){.see-also-module.colspan-1 .see-also-module__sizer{max-width:calc(50% - 0.625rem)}}.see-also-module.has-carousel.colspan-1 .see-also-module__sizer{width:calc(50% - 0.625rem);margin-left:0.625rem;margin-bottom:0.625rem}@media screen and (min-width: 54.6875rem){.see-also-module.has-carousel.colspan-1 .see-also-module__sizer{width:calc(25% - 0.25rem);margin-left:0.25rem;margin-bottom:1.5rem}}.see-also-module.colspan-2{flex-basis:100%}.see-also-module.has-carousel.colspan-2{margin-left:0;margin-bottom:0}.see-also-module.colspan-2 .see-also-module__sizer{max-width:calc(100% - 0.625rem)}@media screen and (min-width: 54.6875rem){.see-also-module.colspan-2 .see-also-module__sizer{max-width:calc(100% - 0.625rem)}}.see-also-module.has-carousel.colspan-2 .see-also-module__sizer{width:calc(50% - 0.625rem);margin-left:0.625rem;margin-bottom:0.625rem}@media screen and (min-width: 54.6875rem){.see-also-module.has-carousel.colspan-2 .see-also-module__sizer{width:calc(50% - 0.25rem);margin-left:0.25rem;margin-bottom:1.5rem}}.see-also-module.colspan-3{flex-basis:100%}.see-also-module.has-carousel.colspan-3{margin-left:0;margin-bottom:0}.see-also-module.colspan-3 .see-also-module__sizer{max-width:calc(150% - 0.625rem)}@media screen and (min-width: 54.6875rem){.see-also-module.colspan-3 .see-also-module__sizer{max-width:calc(150% - 0.625rem)}}.see-also-module.has-carousel.colspan-3 .see-also-module__sizer{width:calc(100% - 0.625rem);margin-left:0.625rem;margin-bottom:0.625rem}@media screen and (min-width: 54.6875rem){.see-also-module.has-carousel.colspan-3 .see-also-module__sizer{width:calc(75% - 0.25rem);margin-left:0.25rem;margin-bottom:1.5rem}}.see-also-module.colspan-4{flex-basis:100%}.see-also-module.has-carousel.colspan-4{margin-left:0;margin-bottom:0}.see-also-module.colspan-4 .see-also-module__sizer{max-width:calc(200% - 0.625rem)}@media screen and (min-width: 54.6875rem){.see-also-module.colspan-4 .see-also-module__sizer{max-width:calc(200% - 0.625rem)}}.see-also-module.has-carousel.colspan-4 .see-also-module__sizer{width:calc(100% - 0.625rem);margin-left:0.625rem;margin-bottom:0.625rem}@media screen and (min-width: 54.6875rem){.see-also-module.has-carousel.colspan-4 .see-also-module__sizer{width:calc(100% - 0.25rem);margin-left:0.25rem;margin-bottom:1.5rem}}.single-image-module__caption{max-width:100%;padding:0.625rem;display:inline-block;background:white}.single-image-module img{width:100%}.slideshow-module__pagination{padding-left:2.25rem;display:flex;flex-direction:row;font-size:0.8125rem;line-height:1.3846;color:#b2b2b2}@media screen and (min-width: 54.6875rem){.slideshow-module__pagination{font-size:0.8125rem;line-height:1.3846}}.slideshow-module__pagination-item{display:inline-block;background:#dcddde;padding:0 0.625rem;border:0}.slideshow-module__pagination-item:focus{outline:0}.slideshow-module__pagination-item-container:focus .slideshow-module__pagination-item{background:#000;color:#ffffff}.slideshow-module__pagination>*{flex:0 0 auto}.slideshow-module__pagination>*+*{margin-left:0.375rem}.slideshow-module__pagination .slideshow-module__pagination-item--current-page{color:#000}.slideshow-module__pagination a,.slideshow-module__pagination a:visited,.slideshow-module__pagination a:hover{color:#000;text-decoration:none}.slideshow-module__pagination a:active{color:#ff0000}.slideshow-module__slide{width:100%}.slideshow-module__slide img{width:100%}.slideshow-module__caption{max-width:100%;display:inline-block;background:#dcddde;padding:0.625rem;display:inline-block;
        font-family:'Times New Roman', Times, serif;font-size:0.8125rem;line-height:1.3846}@media screen and (min-width: 54.6875rem){.slideshow-module__caption{font-size:0.8125rem;line-height:1.3846}}@media screen and (max-width: 27rem){.colspan-1 .slideshow-module__pagination,.colspan-2 .slideshow-module__pagination{padding-left:0}.colspan-1 .slideshow-module__pagination-item--current-page,.colspan-2 .slideshow-module__pagination-item--current-page{display:none}}.title-module span{color:#000}.title-module--prominence-1.colspan-1,.title-module--prominence-1.colspan-2,.title-module--prominence-1.colspan-3,.title-module--prominence-1.colspan-4{width:100%}.title-module .page-title--prominence-1,.title-module .page-title--prominence-2,.title-module .page-title--prominence-3,.title-module .page-title--prominence-4{margin-top:0;margin-bottom:0}.title-module .page-title--prominence-1 span{-webkit-box-decoration-break:clone;box-decoration-break:clone;background-image:linear-gradient(to bottom, transparent 0.19em, #fff003 0.19em, #fff003 0.91em, transparent 0.91em);text-transform:uppercase;position:relative;top:-0.125em}.title-module .page-title--prominence-2 span{-webkit-box-decoration-break:clone;box-decoration-break:clone;background-image:linear-gradient(to bottom, transparent 0.19em, #fff 0.19em, #fff 0.91em, transparent 0.91em);text-transform:uppercase;position:relative;top:-0.175em}.title-module .page-title--prominence-3 span{text-transform:uppercase;-webkit-box-decoration-break:clone;box-decoration-break:clone;background-image:linear-gradient(to bottom, transparent calc(100% - 1em), #fff calc(100% - 1em), #fff calc(100% - (100% - 1em)), transparent calc(100% - (100% - 1em)))}.title-module .page-title--prominence-4 span{text-transform:uppercase;-webkit-box-decoration-break:clone;box-decoration-break:clone;background-image:linear-gradient(to bottom, transparent calc(100% - 1em), #fff calc(100% - 1em), #fff calc(100% - (100% - 1em)), transparent calc(100% - (100% - 1em)))}.verbatim-module iframe{width:100%}*,*:before,*:after{box-sizing:border-box}body{margin:0px;background:#ffffff;
            font-family:'Times New Roman', Times, serif;font-size:0.8125rem;line-height:1.3846}@media screen and (min-width: 54.6875rem){body{font-size:0.8125rem;line-height:1.3846}}img{behavior:url(/javascripts/pngbehavior.htc)}form{display:inline}textarea,input[type="text"]{
                font-family:'Times New Roman', Times, serif;font-size:12px;line-height:17px}p{padding-top:0px;margin-top:0px}div.editable{position:relative;top:0px;left:0px;margin-bottom:24px}div.edit_buttons{position:relative;top:0px;left:0px;width:810px}div.editable_outline{border:1px dashed #00ff00;padding:1px}div.editable_outline_active{border:2px solid #00ff00;padding:0px}div.add_before{margin-bottom:24px}div#outer-container{z-index:1}
div#spinner{
    z-index:2;
    position:fixed
    ;top:24px;
    left:660px
}
/* div#spinner span{
    background:#ff4912
}
.fullheight{
    height:100%
}
div.page_header_footer{
    font-size:11px
    ;line-height:14px;
    color:#ff6e00
}
div.page_header_footer a,div.page_header_footer a:visited{
    text-decoration:none;
    color:#ff6e00
} */
.skip-to-content-link{position:absolute;left:0.33em;top:0.33em;transform:scale(0);z-index:2;color:#000;text-decoration:underline;box-shadow:0px -0.33em 0px #fff003, 0.33em -0.33em 0px #fff003, 0.33em 0px 0px #fff003, 0.33em 0.33em 0px #fff003, 0px 0.33em 0px #fff003, -0.33em 0.33em 0px #fff003, -0.33em 0px 0px #fff003, -0.33em -0.33em 0px #fff003;-webkit-box-decoration-break:clone;box-decoration-break:clone;background-color:#fff003;font-size:0.8125rem;line-height:1.3846}@media screen and (min-width: 54.6875rem){.skip-to-content-link{font-size:0.8125rem;line-height:1.3846}}.skip-to-content-link:focus{transform:scale(1);outline:0}
